<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
    href="/static/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" 
    rel="stylesheet">
    <title>
      {% block title %} {% endblock %}
    </title>
    <meta charset="UTF-8">
    {% block head %} {% endblock %}
  </head>
  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %} {% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>