<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
    href="/static/stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' 
    rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' 
    rel='stylesheet' type='text/css'>
    <title>
      {% block title %} {% endblock %}
    </title>
    <meta charset="UTF-8">
    {% block head %} {% endblock %}
  </head>
  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %} {% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>