{% extends 'base.html' %}
{% block title %}Baby Food Tracker Home{% endblock %}

{% block body %}
  <header class="welcome"><h1>Welcome!</h1></header>

  <section class="create-account">
  <h2>Create An Account</h2>
  <form id="create-account-form" action="/users" method="POST">
    <p class="homepage-input">
      Name <input type="fname" name="fname">
    </p>

    <p class="homepage-input">
      Email <input type="text" name="email">
    </p>

    <p class="homepage-input">
      Password <input type="password" name="password">
    </p>

    <!-- <p>
      Phone <input type="phone" name="phone">
    </p> -->

    <p class="submit-button">
      <input type="submit">
    </p>
  </form>
  </section>

  <section class="login">
  <h2>Log In</h2>
  <form id="login-form" action="/login" method="POST">
    <p class="homepage-input">
      Email <input type="text" name="email">
    </p>

    <p class="homepage-input">
      Password <input type="password" name="password">
    </p>

    <p class="submit-button">
      <input type="submit">
    </p>
  </form>
  </section>
{% endblock %}