{% extends 'base.html' %}
{% block title %}Baby Bites Home{% endblock %}

{% block body %}
  <header class="welcome"><h1>Baby Bites</h1></header>

  <section class="create-account">
  <h2>Create An Account</h2>
  <form id="create-account-form" action="/users" method="POST">
    <p class="homepage-input">
      <input type="fname" name="fname" placeholder="Name" 
      style="background-color: #D9D9D9;  
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent; text-align: center;     
      font-family: 'Quicksand', sans-serif;">
    </p>

    <p class="homepage-input">
      <input type="text" name="email" placeholder="Email" 
      style="background-color: #D9D9D9;  
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent; text-align: center;
      font-family: 'Quicksand', sans-serif;">
    </p>

    <p class="homepage-input">
      <input type="password" name="password" placeholder="Password" 
      style="background-color: #D9D9D9;  
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent; text-align: center;
      font-family: 'Quicksand', sans-serif;">
    </p>

    <!-- <p>
      Phone <input type="phone" name="phone">
    </p> -->

    <p class="submit-button">
      <input type="submit" style="background-color: #FFEADD;  
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent;
      font-family: 'Quicksand', sans-serif;">
    </p>
  </form>
  </section>

  <section class="login">
  <h2>Log In</h2>
  <form id="login-form" action="/login" method="POST">
    <p class="homepage-input">
      <input type="text" name="email" placeholder="Email" 
      style="background-color: #D9D9D9;  
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent; text-align: center;
      font-family: 'Quicksand', sans-serif;">
    </p>

    <p class="homepage-input">
      <input type="password" name="password" placeholder="Password" 
      style="background-color: #D9D9D9;  
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent; text-align: center;
      font-family: 'Quicksand', sans-serif;">
    </p>

    <p class="submit-button">
      <input type="submit" style="background-color: #FFEADD;  
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent;
      font-family: 'Quicksand', sans-serif;">
    </p>
  </form>
  </section>
{% endblock %}