{% extends 'base.html' %}

{% block title %}{{ user.email }}'s Page{% endblock %}

{% block body %}
<h1>{{ user.email }}</h1>
<p>Phone: {{ user.phone }}</p>

<h2>Schedule</h2>

{% for to_try_date in to_try_dates %}
<h3>{{ to_try_date }}</h3>
    {% for schedule_event in schedule_events %}
      {% if schedule_event.to_try_date == to_try_date %}
        <ul>
          <li>{{ schedule_event.food.food_name }}, Tried? {{ schedule_event.tried }}</li>
        </ul>
      {% endif %}
    {% endfor %}
  {% endfor %}


<h2>Ratings</h2>
<ul>
{% for rating in user.ratings %}
  <li>
    {{ rating.food.food_name }}:
    <span class=rating_num_{{ rating.rating_id }}>
      {{ rating.score }}
    </span>
  </li>
{% endfor %}
</ul>
{% endblock %}