{% extends 'base.html' %}

{% block title %}{{ user.fname }}'s Page{% endblock %}

{% block body %}
<h1>{{ user.fname }}</h1>
<p>Phone: {{ user.phone }}</p>
<p><a href="/foods">View all available foods to try</a></p>

<h2>Schedule</h2>

{% for to_try_date in to_try_dates %}
<h3>{{ to_try_date }}</h3>
    {% for schedule_event in schedule_events %}
      {% if schedule_event.to_try_date == to_try_date %}
        <ul>
          <li>
            <a href="/foods/{{ schedule_event.food.food_id }}">
            {{ schedule_event.food.food_name }}</a> 

            <input type="checkbox" class="tried-checkbox" name="tried-checkbox" 
            id="tried-checkbox-{{ schedule_event.food.food_id }}" 
            data-tried="{{ schedule_event.tried }}">
            <label for="tried-checkbox">Tried</label>
          </li>
        </ul>
      {% endif %}
    {% endfor %}
  {% endfor %}


<h2>Ratings</h2>
<table>
  <tr>
    <th>Food</th>
    <th>Score</th>
    <th>Date</th>
    <th>Comments</th>
  </tr>
  {% for rating in user.ratings %}
  <tr>
    <td>{{ rating.food.food_name }}</td>
    <td>{{ rating.score }}</td>
    <td>{{ rating.date_rated.strftime("%x") }}</td>
    <td>{{ rating.comment }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}