{% extends 'base.html' %}

{% block title %}{{ user.fname }}'s Page{% endblock %}

{% block body %}
<header class="welcome"><h1>{{ user.fname }}'s Page</h1></header>

<p id="view-available-foods"><a href="/foods">View all available foods to try</a></p>


<section id="schedule-section">
<h2>Schedule</h2>

{% for to_try_date in to_try_dates %}

<h3>{{ to_try_date }}</h3>
    {% for schedule_event in schedule_events %}
      {% if schedule_event.to_try_date == to_try_date and schedule_event.tried == False %} 
        <ul>
          <li>
            <a href="/foods/{{ schedule_event.food.food_id }}">
            {{ schedule_event.food.food_name }}</a> 

            <input type="checkbox" class="tried-checkbox" name="tried-checkbox" 
            data-food-id="{{ schedule_event.food.food_id }}" 
            data-tried="{{ schedule_event.tried }}">
            <label for="tried-checkbox">Tried</label>
          </li>
        </ul>
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>






<section id="ratings-section">
<h2>Ratings</h2>
<table>
  <tr>
    <th>Food</th>
    <th>Score</th>
    <th>Date</th>
    <th>Comments</th>
  </tr>
  {% for rating in user.ratings %}
  <tr>
    <td>{{ rating.food.food_name }}</td>
    {% if rating.score == 1 %}
    <td>&#128525;</td>
    {% endif %}
    {% if rating.score == 2 %}
    <td>&#128528;</td>
    {% endif %}
    {% if rating.score == 3 %}
    <td>&#129314;</td>
    {% endif %}
    <td>{{ rating.date_rated.strftime("%x") }}</td>
    <td>{{ rating.comment }}</td>
  </tr>
  {% endfor %}
</table>
</section>
<script src="/static/event_handlers.js" type="text/javascript"></script>
{% endblock %}
